*{
    margin: 0;
    padding: 0;
}

.nav-container{
font-family: 'Courier New', Courier, monospace;
display: flex;
background-color: darkorchid;
}

.nav-container ul{
    list-style: none;
    display: flex;
}
.nav-container ul li{
    margin: 25px;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

.banner img{
    width: 100%;
    height: 500px;

}

.gallery-container h1{
    text-align: center;
    margin: 50px;
}

.gallery-container img{
    padding: 40px;
    margin: 10px;
    margin-right: 5px;
    height: 200px;
    width: 300px;
}
    .pakage-container h1{
text-align: center;
    }

.packagecontainer h1{
    text-align: center;
    margin: 10px;
}


.card{
    
        width: 360px;
        height: 360px;
        border: 3px solid black;
        padding: 10px;
        margin: 10px;
        float: left;
    
}
.card img{
    width: 90%;
    height: 60%;
}

.card h2{
    margin: 20px;
    color: blueviolet;
}

.card h4{
    font-size: 25px;
}


.faq  h1{
    text-align: center;
}


.faq summary {
    font-size: 35px;
  
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    color: white;
    background-color:rgb(60, 36, 36);
  }

  .faq details > p {
    padding: 5px;
    font-size: 20px;
    border: 30px;
  }

 
/* 
contact styles */


#contact{
    position: relative;
}

 #contact h1{
    text-align: center;
    margin-top: 30px;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background-color: aqua;

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, 
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

#contact-box form{
    width: 40%;
}

#contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}

.footer{
    background-color: black;
    height: 30px;
}

.footer h4{
    text-align: center;
    color: white;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    background: url(https://i.ibb.co/PTJDkgb/testimonials.jpg);
    margin: 10px;
  }
  
  

  .testimonial {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 400px;
    width: 90%;
    margin: 40px;
 
  }
  
  .testimonial-content {
    text-align: center;
  }
  
  .testimonial-text {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .testimonial-author {
    font-size: 14px;
    color: #888;
  }



@media (max-width: 768px) {
    .nav-container ul {
        flex-direction: column;
        align-items: center;
    }

}


@media (max-width: 600px) {
    .banner img {
        height: auto;
        width: 100%;
    }
 
}

@media (max-width: 480px) {
    .card {
        width: 100%;
        float: none;
        margin: 10px 0;
    }
    /* Adjust other styles as needed */
}

